<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form>
        Arbitro:<br>
        <input type="text" name="arbiter.name">
        <br><br>

      </form>

      <a href="saveArbiters">salvar</a>
<br>
      <table border="1">
        <thead>
            <tr>
            <th>Nome</th>
            
            </tr>
        </thead>
        <tbody>
            {% for arbiter in arbiters %}
            <tr>
            <td>{{ arbiter.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
</body>
</html>