<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        {% for match in matchs %}
        <h1>{{ match.home_team.name }} x {{ match.visitor_team.name }}</h1>
        <h2>{{ match.home_goals }} x {{ match.visitor_goals }}</h2>
        <h3>{{ match.location.location }}</h3>
        {% for arbiter in match.arbiters.all %}
        <p>{{ arbiter.name }}</p>

        {% endfor %}
        <hr />
        {% endfor %}
    </body>
</html>
